/*HERO VIDEO*/
            #headling_text_container img{width:200px}
            .page-header h1{ 
    font-family: 'maxwell';
    font-size: 56px;
}
#headling_text_container{
    background: rgba(0,0,0,0.6);padding-top:15px;padding-bottom:15px;
}
#headling_text_container h1{font-size:46px;color:#FFF;}
.text-white{color:#FFF;}
.text-thin{font-weight: lighter;}

            .homepage-hero-module {
                border-right: none;
                border-left: none;
                position: relative;
            }
            .no-video .video-container video,
            .touch .video-container video {
                display: none;
            }
            .no-video .video-container .poster,
            .touch .video-container .poster {
                display: block !important;
            }
            .video-container {
                position: relative;
                bottom: 0%;
                left: 0%;
                height: 100vh;
                width: 100%;
                overflow: hidden;
                background: #000;
            }
            .video-container .poster img {
                width: 100%;
                bottom: 0;
                position: absolute;
            }
            .video-container .filter {
                z-index: 100;
                position: absolute;
                background: rgba(0, 0, 0, 0.4);
                width: 100%;
            }
            .video-container video {
                /*position: absolute;
                z-index: 0;
                bottom: 0;*/
            }
            .video-container video.fillWidth {
                width: 100%;
            }
            .video-container .title-container {
                z-index: 1000;
                position: absolute;
                top: 8em;
                width: 100%;
                text-align: center;
                color: #fff;
            }
            .video-container .title-container .text-logo{
                font-family: maxwell;
                font-size: 120px;
            }
            .video-container .description .inner {
                font-size: 1em;
                width: 45%;
                margin: 0 auto;
            }
            .video-container .link {
                position: absolute;
                bottom: 3em;
                width: 100%;
                text-align: center;
                z-index: 1001;
                font-size: 2em;
                color: #fff;
            }
            .video-container .link a {
                color: #fff;
            }
/*END HERO VIDEO CSS*/