/* =================================================================== 
 *
 *  Elevate v1.0 Main Stylesheet
 *  url: www.styleshout.com
 *  07-04-2016
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  01. webfonts and iconfonts
 *  02. base style overrides
 *  03. typography & general theme styles
 *  04. preloader 
 *  05. forms
 *  06. buttons
 *  07. other components
 *  08. common and reusable styles
 *  09. header styles
 *  10. main content wrap
 *  11. intro
 *  12. features
 *  13. infos
 *  14. stats
 *  15. pricing
 *  16. testimonials
 *  17. download
 *  18. subscribe
 *  19. footer
 *
 * =================================================================== */


/* ===================================================================
 * 01. webfonts and iconfonts - (_document-setup.scss)
 *
 * ------------------------------------------------------------------- */
@import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");
@import url("nova/nova.css");


/* ===================================================================
 * 02. base style overrides - (_document-setup.scss)
 *
 * ------------------------------------------------------------------- */
html {
	font-size: 10px;
}

@media only screen and (max-width:1024px) {
	html {
		font-size: 9.375px;
	}

}

@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}

}

@media only screen and (max-width:400px) {
	html {
		font-size: 9.375px;
	}

}

html,
body {
	height: 100%;
}

body {
	background: #0e0e0e;
	font-family: "roboto-regular", sans-serif;
	font-size: 1.6rem;
	line-height: 3rem;
	color: #292c35;
}

/* ------------------------------------------------------------------- 
 * links - (_document-setup) 
 * ------------------------------------------------------------------- */
a,
a:visited {
	color: #ed254d;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
	color: #000000;
	outline: 0;
}

/* ===================================================================
 * 03. typography & general theme styles - (_document-setup.scss) 
 *
 * ------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
	font-family: "roboto-black", sans-serif;
	color: #001835;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
}
h3, .h03, h4, .h04 {
	margin-bottom: 1.8rem;
}
h5, .h05, h6, .h06 {
	font-family: "roboto-bold";
	margin-bottom: 1.2rem;
}
h1, .h01 {
	font-size: 3.1rem;
	line-height: 1.355;
	letter-spacing: -.1rem;
}

@media only screen and (max-width:600px) {
	h1,
	.h01 {
		font-size: 2.6rem;
		letter-spacing: -.07rem;
	}

}

h2, .h02 {
	font-size: 2.4rem;
	line-height: 1.25;
}
h3, .h03 {
	font-size: 2rem;
	line-height: 1.5;
}
h4, .h04 {
	font-size: 1.8rem;
	line-height: 1.667;
}
h5, .h05 {
	font-size: 1.4rem;
	line-height: 1.714;
	text-transform: uppercase;
	letter-spacing: .15rem;
}
h6, .h06 {
	font-size: 1.3rem;
	line-height: 1.846;
	text-transform: uppercase;
	letter-spacing: .15rem;
}

p img {
	margin: 0;
}

p.lead {
	font-family: "roboto-light", sans-serif;
	font-size: 2.1rem;
	line-height: 1.714;
	color: #4a5060;
}

@media only screen and (max-width:768px) {
	p.lead {
		font-size: 1.9rem;
	}

}

em, i, strong, b {
	font-size: 1.6rem;
	line-height: 3rem;
	font-style: normal;
	font-weight: normal;
}
em, i {
	font-family: "roboto-italic", serif;
}
strong, b {
	font-family: "roboto-bold", serif;
}

small {
	font-size: 1.2rem;
	line-height: inherit;
}

blockquote {
	margin: 3rem 0;
	padding-left: 4rem;
	position: relative;
}

blockquote:before {
	content: "\201C";
	font-size: 8rem;
	line-height: 0px;
	margin: 0;
	color: rgba(17, 17, 17, 0.5);
	font-family: arial, sans-serif;
	position: absolute;
	top: 3rem;
	left: 0;
}

blockquote p {
	font-family: georgia, serif;
	font-style: italic;
	padding: 0;
	font-size: 2rem;
	line-height: 1.8;
}

blockquote cite {
	display: block;
	font-size: 1.3rem;
	font-style: normal;
	line-height: 1.616;
}

blockquote cite:before {
	content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
	color: #3f4452;
	border: none;
}

abbr {
	font-family: "roboto-bold", serif;
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: .05rem;
	color: #3f4452;
}

var, kbd, samp, code, pre {
	font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

pre {
	padding: 2.4rem 3rem 3rem;
	background: #F1F1F1;
}

code {
	font-size: 1.4rem;
	margin: 0 .2rem;
	padding: .3rem .6rem;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 3px;
}

pre > code {
	display: block;
	white-space: pre;
	line-height: 2;
	padding: 0;
	margin: 0;
}

pre.prettyprint > code {
	border: none;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

mark {
	background: #FFF49B;
	color: #000;
}

hr {
	border: solid #2b3641;
	border-width: 1px 0 0;
	clear: both;
	margin: 2.4rem 0 1.5rem;
	height: 0;
}

/* ------------------------------------------------------------------- 
 * Lists - (_document-setup.scss)  
 * ------------------------------------------------------------------- */
ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

li {
	display: list-item;
}

ol,
ul {
	margin-left: 1.7rem;
}

ul li {
	padding-left: .4rem;
}

ul ul, ul ol, ol ol, ol ul {
	margin: .6rem 0 .6rem 1.7rem;
}

ul.disc li {
	display: list-item;
	list-style: none;
	padding: 0 0 0 .8rem;
	position: relative;
}

ul.disc li::before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ed254d;
	position: absolute;
	left: -17px;
	top: 11px;
	vertical-align: middle;
}

dt {
	margin: 0;
	color: #ed254d;
}

dd {
	margin: 0 0 0 2rem;
}

/* ------------------------------------------------------------------- 
 * tables - (_document-setup.scss)    
 * ------------------------------------------------------------------- */
table {
	border-width: 0;
	width: 100%;
	max-width: 100%;
	font-family: "roboto-regular", sans-serif;
}

th, td {
	padding: 1.5rem 3rem;
	text-align: left;
	border-bottom: 1px solid #E8E8E8;
}

th {
	color: black;
	font-family: "roboto-black", sans-serif;
}

td {
	line-height: 1.5;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

.table-responsive {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

/* ------------------------------------------------------------------- 
 * Spacing - (_document-setup)  
 * ------------------------------------------------------------------- */
button,
.button {
	margin-bottom: 1.2;
}

fieldset {
	margin-bottom: 1.5rem;
}

input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.fluid-video-wrapper,
.ss-custom-select {
	margin-bottom: 3rem;
}

/* ------------------------------------------------------------------- 
 * floated image - (_document-setup)  
 * ------------------------------------------------------------------- */
img.pull-right {
	margin: .9rem 0 0 2.4rem;
}

img.pull-left {
	margin: .9rem 2.4rem 0 0;
}

/* ------------------------------------------------------------------- 
 * block grids paddings
 * ------------------------------------------------------------------- */
.bgrid {
	padding: 0 20px;
}

@media only screen and (max-width:1024px) {
	.bgrid {
		padding: 0 18px;
	}
}
@media only screen and (max-width:768px) {
	.bgrid {
		padding: 0 15px;
	}
}
@media only screen and (max-width:600px) {
	.bgrid {
		padding: 0 10px;
	}
}
@media only screen and (max-width:400px) {
	.bgrid {
		padding: 0;
	}
}

/* ------------------------------------------------------------------- 
 * pace.js styles - minimal  - (_document-setup.scss)
 * ------------------------------------------------------------------- */
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #FFFFFF;
	position: fixed;
	z-index: 901;
	top: 0;
	right: 100%;
	width: 100%;
	height: 6px;
}



/* ===================================================================
 * 04. preloader - (_preloader-1.scss)
 *
 * ------------------------------------------------------------------- */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #151515;
	z-index: 900;
	height: 100%;
	width: 100%;
}

.no-js #preloader,
.oldie #preloader {
	display: none;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	padding: 0;
}

#loader:before {
	content: "";
	display: block;
	height: 60px;
	width: 60px;
	-webkit-animation: rotate .9s infinite linear;
	animation: rotate .9s infinite linear;
	border: 10px solid #FFFFFF;
	border-right-color: transparent;
	border-radius: 50%;
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}

}

@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}

}


/* ===================================================================
 * 05. forms - (_forms.scss)
 *
 * ------------------------------------------------------------------- */
fieldset {
	border: none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	display: block;
	height: 6rem;
	padding: 1.5rem 2.5rem;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: rgba(0, 0, 0, 0.7);
	font-family: "roboto-regular", sans-serif;
	font-size: 1.5rem;
	line-height: 3rem;
	max-width: 100%;
	background: rgba(0, 0, 0, 0.2);
	border: none;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.ss-custom-select {
	position: relative;
	padding: 0;
}

.ss-custom-select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	margin: 0;
	line-height: 3rem;
	vertical-align: middle;
}

.ss-custom-select select option {
	padding-left: 2rem;
	padding-right: 2rem;
}

.ss-custom-select select::-ms-expand {
	display: none;
}

.ss-custom-select::after {
	content: '\f0d7';
	font-family: 'FontAwesome';
	position: absolute;
	top: 50%;
	right: 1.5rem;
	margin-top: -10px;
	bottom: auto;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	text-align: center;
	pointer-events: none;
	color: #252525;
}

/* IE9 and below */
.oldie .ss-custom-select::after {
	display: none;
}

textarea {
	min-height: 25rem;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	background: rgba(0, 0, 0, 0.5);
	color: white;
}

label,
legend {
	font-family: "roboto-bold", sans-serif;
	font-size: 1.4rem;
	margin-bottom: .6rem;
	color: black;
	display: block;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

label > .label-text {
	display: inline-block;
	margin-left: 1rem;
	font-family: "roboto-regular", sans-serif;
	line-height: inherit;
}

label > input[type="checkbox"],
label > input[type="radio"] {
	margin: 0;
	position: relative;
	top: .15rem;
}

/* ------------------------------------------------------------------- 
 * Style Placeholder Text  
 * ------------------------------------------------------------------- */
::-webkit-input-placeholder {
	color: #555c6f;
}

:-moz-placeholder {
	color: #555c6f;  /* Firefox 18- */
}

::-moz-placeholder {
	color: #555c6f;  /* Firefox 19+ */
}

:-ms-input-placeholder {
	color: #555c6f;
}

.placeholder {
	color: #555c6f !important;
}


/* ===================================================================
 * 06. buttons - (_button-essentials.scss)
 *
 * ------------------------------------------------------------------- */
.button,
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	font-family: "roboto-black", sans-serif;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	height: 5.4rem;
	line-height: 5.4rem;
	padding: 0 3rem;
	margin: 0 .3rem 1.2rem 0;
	background: #d8d8d8;
	color: #001835;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	border: none;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	background: #bebebe;
	color: #000000;
	outline: 0;
}

.button.button-primary,
a.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	background: #002f68;
	color: #FFFFFF;
}

.button.button-primary:hover,
a.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
	background: #001835;
}

button.full-width,
.button.full-width {
	width: 100%;
	margin-right: 0;
}

button.medium,
.button.medium {
	height: 5.7rem !important;
	line-height: 5.7rem !important;
	padding: 0 1.8rem !important;
}

button.large,
.button.large {
	height: 6rem !important;
	line-height: 6rem !important;
	padding: 0rem 3rem !important;
}

button.stroke,
.button.stroke {
	background: transparent !important;
	border: 3px solid #313131;
	line-height: 4.8rem;
}

button.stroke.medium,
.button.stroke.medium {
	line-height: 5.1rem !important;
}

button.stroke.large,
.button.stroke.large {
	line-height: 5.4rem !important;
}

button.stroke:hover,
.button.stroke:hover {
	border: 3px solid #ed254d;
	color: #ed254d;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}


/* ===================================================================
 * 07. other components - (_others.scss)
 *
 * ------------------------------------------------------------------- */

/* -------------------------------------------------------------------
 * additional typo styles - (_additional-typo.scss)
 * ------------------------------------------------------------------- */

/**
 * drop cap 
 */
.drop-cap:first-letter {
	float: left;
	margin: 0;
	padding: 1.5rem .6rem 0 0;
	font-size: 8.4rem;
	font-family: "roboto-black", sans-serif;
	line-height: 6rem;
	text-indent: 0;
	background: transparent;
	color: #001835;
}

/**
 * line definition style
 */
.lining dt,
.lining dd {
	display: inline;
	margin: 0;
}

.lining dt + dt:before,
.lining dd + dt:before {
	content: "\A";
	white-space: pre;
}

.lining dd + dd:before {
	content: ", ";
}

.lining dd + dd:before {
	content: ", ";
}

.lining dd:before {
	content: ": ";
	margin-left: -0.2em;
}

/**
 * dictionary definition style
 */
.dictionary-style dt {
	display: inline;
	counter-reset: definitions;
}

.dictionary-style dt + dt:before {
	content: ", ";
	margin-left: -0.2em;
}

.dictionary-style dd {
	display: block;
	counter-increment: definitions;
}

.dictionary-style dd:before {
	content: counter(definitions, decimal) ". ";
}

/** 
 * Pull Quotes
 * -----------
 * markup:
 *
 * <aside class="pull-quote">
 *		<blockquote>
 *			<p></p>
 *		</blockquote>
 *	</aside>
 *
 * --------------------------------------------------------------------- 
 */
.pull-quote {
	position: relative;
	padding: 2.1rem 3rem 2.1rem 0px;
}

.pull-quote:before,
.pull-quote:after {
	height: 1em;
	position: absolute;
	font-size: 8rem;
	font-family: Arial, Sans-Serif;
	color: rgba(17, 17, 17, 0.5);
}

.pull-quote:before {
	content: "\201C";
	top: 33px;
	left: 0;
}

.pull-quote:after {
	content: '\201D';
	bottom: -33px;
	right: 0;
}

.pull-quote blockquote {
	margin: 0;
}

.pull-quote blockquote:before {
	content: none;
}

/** 
 * Stats Tab
 * ---------
 * markup:
 *
 * <ul class="stats-tabs">
 *		<li><a href="#">[value]<em>[name]</em></a></li>
 *	</ul>
 *
 * Extend this object into your markup.
 *
 * ---------------------------------------------------------------------
 */
.stats-tabs {
	padding: 0;
	margin: 3rem 0;
}

.stats-tabs li {
	display: inline-block;
	margin: 0 1.5rem 3rem 0;
	padding: 0 1.5rem 0 0;
	border-right: 1px solid #ccc;
}

.stats-tabs li:last-child {
	margin: 0;
	padding: 0;
	border: none;
}

.stats-tabs li a {
	display: inline-block;
	font-size: 2.5rem;
	font-family: "roboto-bold", sans-serif;
	border: none;
	color: black;
}

.stats-tabs li a:hover {
	color: #ed254d;
}

.stats-tabs li a em {
	display: block;
	margin: .6rem 0 0 0;
	font-size: 1.4rem;
	font-family: "roboto-regular", sans-serif;
	color: #3f4452;
}

/* ===================================================================
 * 08. common and reusable styles (_layout.scss)
 *
 * ------------------------------------------------------------------- */
.section-intro {
	max-width: 840px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.section-intro h2 {
	font-family: "domine-bold", serif;
	font-size: 4.8rem;
	line-height: 1.25;
	margin-bottom: 1.2rem;
}

.section-intro h5 {
	color: #ed254d;
	font-size: 1.6rem;
	line-height: 1.875;
	margin-bottom: 0.3rem;
	letter-spacing: .4rem;
}

.section-intro .with-bottom-line {
	position: relative;
	margin-bottom: 4.2rem;
	padding-bottom: 1.5rem;
}

.section-intro .with-bottom-line::after {
	display: block;
	background-color: #001835;
	width: 120px;
	height: 3px;
	content: '\0020';
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -60px;
}

.js .animate-this,
.js .animate-intro {
	opacity: 0;
}

.oldie .animate-this,
.oldie .animate-intro
.no-cssanimations .animate-this,
.no-cssanimations .animate-intro {
	opacity: 1;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * common styles
 * ------------------------------------------------------------------- */
@media only screen and (max-width:768px) {
	.section-intro {
		max-width: 650px;
	}

	.section-intro h2 {
		font-size: 4rem;
	}
}
@media only screen and (max-width:600px) {
	.section-intro h2 {
		font-size: 3.3rem;
	}
}
@media only screen and (max-width:400px) {
	.section-intro h2 {
		font-size: 3rem;
	}
}

/* ===================================================================
 * 09. header styles - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
header {
	width: 100%;
	height: 72px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 700;
	background: transparent;
}

/* ------------------------------------------------------------------- 
 * header logo - (_layout.css) 
 * ------------------------------------------------------------------- */
header .logo {
	position: absolute;
	left: 26px;
	top: 30px;
}

header .logo a {
	display: block;
	margin: 0;
	padding: 0;
	outline: 0;
	border: none;
	width: 96px;
	height: 20px;
	background: url("../images/logo.png") no-repeat center;
	background-size: 96px 20px;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/* ------------------------------------------------------------------- 
 * menu toggle - (_layout.css) 
 * ------------------------------------------------------------------- */
.menu-toggle {
	width: 42px;
	height: 42px;
	display: block;
	outline: 0;
	background: #111111;
	position: absolute;
	top: 20px;
	right: 20px;
	-moz-transition: transform 0.4s ease-in-out;
	-o-transition: transform 0.4s ease-in-out;
	-webkit-transition: transform 0.4s ease-in-out;
	-ms-transition: transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}

.menu-toggle span {
	display: block;
	background-color: #FFFFFF;
	width: 24px;
	height: 3px;
	margin-top: -1.5px;
	position: absolute;
	right: 9px;
	top: 50%;
	bottom: auto;
	left: auto;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}

.menu-toggle span::before,
.menu-toggle span::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: inherit;
	position: absolute;
	left: 0;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.menu-toggle span::before {
	top: -8px;
}

.menu-toggle span::after {
	bottom: -8px;
}

/* menu is open */
.menu-is-open .menu-toggle {
	-webkit-transform: translateX(-240px);
	-ms-transform: translateX(-240px);
	transform: translateX(-240px);
}

/* is clicked */
.menu-toggle.is-clicked span {
	background-color: rgba(255, 255, 255, 0);
}

.menu-toggle.is-clicked span::before,
.menu-toggle.is-clicked span::after {
	background-color: white;
}

.menu-toggle.is-clicked span::before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu-toggle.is-clicked span::after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * header section 
 * ------------------------------------------------------------------- */
@media only screen and (max-width:768px) {
	header .logo {
		top: 33px;
	}
}

/* ------------------------------------------------------------------- 
 * off-canvas menu - (_layout.scss) 
 * ------------------------------------------------------------------- */
#menu-nav-wrap {
	background: #111111;
	color: rgba(255, 255, 255, 0.25);
	font-family: "roboto-regular", sans-serif;
	font-size: 1.5rem;
	line-height: 1.6;
	padding: 3.6rem 3rem;
	height: 100%;
	width: 240px;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 999999;
	overflow-y: auto;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#menu-nav-wrap a,
#menu-nav-wrap a:visited {
	color: rgba(255, 255, 255, 0.5);
}

#menu-nav-wrap a:hover,
#menu-nav-wrap a:focus,
#menu-nav-wrap a:active {
	color: white;
}

#menu-nav-wrap h3 {
	color: white;
	font-family: "roboto-bold", sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	margin-bottom: 1.5rem;
}

#menu-nav-wrap .nav-list {
	margin: 1.8rem 0 1.5rem 0;
	padding: 0 0 1.5rem 0;
	list-style: none;
	line-height: 3.6rem;
}

#menu-nav-wrap .nav-list li {
	padding-left: 0;
}

#menu-nav-wrap .nav-list li a {
	color: rgba(255, 255, 255, 0.25);
}

#menu-nav-wrap .nav-list li a:hover,
#menu-nav-wrap .nav-list li a:focus {
	color: white;
}

#menu-nav-wrap .sponsor-text span {
	color: rgba(255, 255, 255, 0.5);
}

#menu-nav-wrap .button {
	margin: 0 0 1.2rem 0;
	width: 100%;
	display: block;
	color: rgba(255, 255, 255, 0.5) !important;
	background: rgba(255, 255, 255, 0.1);
}

#menu-nav-wrap .button:hover,
#menu-nav-wrap .button:focus {
	color: white !important;
}

/* menu is open */
.menu-is-open #menu-nav-wrap {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	visibility: visible;
	-webkit-overflow-scrolling: touch;
}



/* ===================================================================
 * 10. main content wrap - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#main-content-wrap {
	/*z-index: 600;*/
	position: relative;
	background: #0e0e0e;
}


/* ===================================================================
 * 11. intro - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#intro {
	position: relative;
	background-image: url(../images/intro-bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	text-align: center;
	padding: 30px 0px;
	overflow: hidden;
}

#intro .intro-content {
	position: relative;
	z-index: 600;
}

#intro h3 {
	text-transform: uppercase;
	letter-spacing: .5rem;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: .6rem;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

#intro h1 {
	font-family: "domine-bold", serif;
	font-size: 5.3rem;
	line-height: 1.267;
	color: #ed254d;
	padding: 0 12%;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

#intro .buttons {
	margin-bottom: 4.2rem;
}

#intro .buttons .button {
	border: 3px solid rgba(255, 255, 255, 0.6);
	color: white;
	margin: 0 .9rem;
}

#intro .buttons .button:hover,
#intro .buttons .button:focus {
	border: 3px solid #f9da4f;
	color: #f9da4f;
}

#intro img {
	vertical-align: bottom;
	max-width: 840px;
	width: 100%;
	box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
}

.shadow-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .5;
	background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
	background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
	background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * intro
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1024px) {
	#intro {
		padding-top: 15rem;
	}

	#intro h1 {
		font-size: 5rem;
		padding: 0 6%;
	}
}
@media only screen and (max-width:768px) {
	#intro {
		padding-top: 13.8rem;
	}

	#intro h3 {
		font-size: 1.8rem;
		letter-spacing: .4rem;
	}

	#intro h1 {
		font-size: 4.5rem;
		padding: 0;
	}
}
@media only screen and (max-width:600px) {
	#intro {
		padding-top: 13.2rem;
	}

	#intro h3 {
		font-size: 1.7rem;
		letter-spacing: .35rem;
	}

	#intro h1 {
		font-size: 4rem;
		padding: 0;
	}
}
@media only screen and (max-width:500px) {
	#intro {
		padding-top: 12rem;
	}

	#intro h3 {
		font-size: 1.6rem;
		letter-spacing: .3rem;
	}

	#intro h1 {
		font-size: 3.8rem;
		padding: 0;
	}

	#intro .buttons {
		max-width: 320px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	#intro .buttons .button {
		display: block;
		width: 100%;
		margin: 0 0 1.5rem 0;
	}
}
@media only screen and (max-width:400px) {
	#intro h3 {
		font-size: 1.5rem;
		letter-spacing: .3rem;
	}

	#intro h1 {
		font-size: 3.5rem;
		padding: 0;
	}

	#intro .buttons {
		width: 100%;
	}
}


/* ===================================================================
 * 12. features - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#features {
	padding: 15rem 0 12rem;
	background-color: #f9da4f;
	overflow: hidden;
}

#features .features-wrap {
	margin-top: 1.5rem;
	max-width: 1170px;
}

#features .feature {
	padding: 0 30px 1.5rem 30px;
}

#features h3 {
	font-family: "roboto-medium", sans-serif;
}

#features .feature-count {
	display: block;
	color: #ed254d;
	font-family: "roboto-bold", serif;
	font-size: 4rem;
	line-height: 1;
	margin-bottom: 2.4rem;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * features
 * ------------------------------------------------------------------- */
@media only screen and (max-width:768px) {
	#features {
		padding: 11.4rem 0 10.6rem;
	}

	#features .features-wrap {
		max-width: 600px;
	}

	#features .feature {
		padding: 0 15px;
	}
}
@media only screen and (max-width:600px) {
	#features .feature {
		padding: 0 10px;
	}
}

@media only screen and (max-width:400px) {
	#features .feature {
		padding: 0;
	}
}


/* ===================================================================
 * 13. infos - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#infos {
	background: #FFFFFF;
}

.info-entry {
	position: relative;
}

.info-entry .half-grey {
	width: 50%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 0;
	background: rgba(63, 80, 96, 0.15);
}

.info-entry .info-entry-content {
	position: relative;
}

.info-entry .media-wrap {
	width: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 600;
}

.info-entry:nth-child(odd) .media-wrap {
	left: 50%;
	padding-left: 0;
	padding-right: 20px;
}

.info-entry:nth-child(odd) .text-part {
	padding-left: 20px;
	padding-right: 70px;
}

.info-entry:nth-child(even) .half-grey {
	left: 0;
}

.info-entry:nth-child(even) .media-wrap {
	left: 0;
	padding-right: 0;
	padding-left: 20px;
}

.info-entry:nth-child(even) .text-part {
	padding-left: 70px;
	padding-right: 20px;
	float: right;
}

.info-entry-content {
	padding-top: 13.2rem;
	padding-bottom: 10.8rem;
}

.info-entry-content h5 {
	color: rgba(0, 24, 53, 0.4);
	margin-bottom: .6rem;
	margin-left: .2rem;
	font-family: "roboto-medium", sans-serif;
	font-size: 1.5rem;
}

.info-entry-content h2 {
	font-family: "domine-bold", serif;
	font-size: 3.7rem;
	line-height: 1.216;
	padding-bottom: 1.5rem;
	position: relative;
}

.info-entry-content h2::after {
	content: "";
	display: block;
	width: 50px;
	height: 3px;
	background: rgba(0, 24, 53, 0.2);
	position: absolute;
	left: 0;
	bottom: 0;
}

.info-entry:last-child .info-entry-content {
	padding-bottom: 13.2rem;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * infos 
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1024px) {
	.info-entry:nth-child(odd) .media-wrap {
		padding-right: 20px;
	}

	.info-entry:nth-child(odd) .text-part {
		padding-left: 20px;
		padding-right: 40px;
	}

	.info-entry:nth-child(even) .media-wrap {
		padding-left: 20px;
	}

	.info-entry:nth-child(even) .text-part {
		padding-left: 40px;
		padding-right: 20px;
	}

}

@media only screen and (max-width:900px) {
	#infos {
		padding-top: 4.2rem;
		padding-bottom: 3rem;
	}

	.info-entry .half-grey {
		display: none;
	}

	.info-entry .info-entry-content {
		max-width: 600px;
		padding-top: 9rem;
		padding-bottom: 7.8rem;
		border-bottom: 1px solid rgba(0, 24, 53, 0.1);
	}

	.info-entry .info-entry-content .media-wrap,
	.info-entry .info-entry-content .text-part {
		padding: 0 15px;
	}

	.info-entry .info-entry-content .media-wrap {
		position: static;
		width: 100%;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		margin-bottom: 4.2rem;
	}

	.info-entry .info-entry-content .text-part {
		width: 100% !important;
		float: none !important;
		clear: both !important;
		margin-left: 0;
		margin-right: 0;
		text-align: center;
	}

	.info-entry .info-entry-content .button {
		margin: 0 0 1.5rem 0;
	}

	.info-entry .info-entry-content h2::after {
		left: 50%;
		margin-left: -25px;
	}

	.info-entry:last-child .info-entry-content {
		border: none;
	}

}

@media only screen and (max-width:600px) {
	.info-entry .info-entry-content .media-wrap,
	.info-entry .info-entry-content .text-part {
		padding: 0 10px;
	}

	.info-entry .info-entry-content h2 {
		font-size: 3rem;
		line-height: 1.3;
	}

}

@media only screen and (max-width:400px) {
	.info-entry .info-entry-content {
		padding-top: 7.8rem;
		padding-bottom: 6rem;
	}

	.info-entry .info-entry-content .media-wrap,
	.info-entry .info-entry-content .text-part {
		padding: 0;
	}

	.info-entry .info-entry-content h2 {
		font-size: 2.8rem;
		line-height: 1.3;
	}

}


/* ===================================================================
 * 14. stats - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#stats {
	background: #001835;
	padding-top: 7.2rem;
	padding-bottom: 4.8rem;
	text-align: center;
}

#stats .row {
	max-width: 1440px;
}

#stats .stat {
	min-height: 17.4rem;
	padding-bottom: 1.5rem;
}

#stats .icon-part {
	position: relative;
	padding-bottom: 2.1rem;
}

#stats .icon-part::after {
	content: "";
	display: block;
	width: 80px;
	height: 1px;
	background: rgba(249, 218, 79, 0.5);
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}

#stats .icon-part i {
	font-size: 6rem;
	color: #f9da4f;
}

#stats .stat-count {
	color: #FFFFFF;
	font-size: 3.6rem;
	margin-top: 1.2rem;
	margin-bottom: 0;
	font-family: "roboto-medium", sans-serif;
	color: white;
}

#stats .stat-title {
	color: rgba(255, 255, 255, 0.3);
	font-size: 1.4rem;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * stats 
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1024px) {
	#stats .stat:nth-child(n) {
		border-left: 1px solid rgba(255, 255, 255, 0.05);
		padding-bottom: 1.5rem;
	}

	#stats .stat:nth-child(3n+1) {
		border: none;
	}

}

@media only screen and (max-width:768px) {
	#stats .stat:nth-child(n) {
		border-left: 1px solid rgba(255, 255, 255, 0.05);
	}

	#stats .stat:nth-child(2n+1) {
		border: none;
	}

}

@media only screen and (max-width:600px) {
	#stats .stat:nth-child(n) {
		border: none;
	}

}


/* ===================================================================
 * 15. pricing - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#pricing {
	background: #e2e5e7;
	padding-top: 12rem;
	padding-bottom: 9.6rem;
}

.pricing-content {
	margin-top: 3rem;
	max-width: 1080px;
}

.pricing-content .bgrid {
	margin-bottom: 3.9rem;
	padding: 0 20px;
}

.pricing-content .price-block {
	background-color: #FFFFFF;
	text-align: center;
	padding: 6rem 0 4.8rem;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	position: relative;
}

.pricing-content .price-block .bottom-part {
	padding-top: 2.4rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

.pricing-content .price-block .plan-title {
	padding-bottom: 2.4rem;
	font-size: 2.4rem;
	font-family: "roboto-bold";
	position: relative;
}

.pricing-content .price-block .plan-title::after {
	display: block;
	background-color: rgba(0, 24, 53, 0.3);
	width: 80px;
	height: 3px;
	content: '\0020';
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -40px;
}

.pricing-content .price-block .plan-price {
	font-family: "domine-bold", serif;
	color: #001835;
	font-size: 6.5rem;
	line-height: 1;
	margin-top: 4.2rem;
	margin-bottom: 0;
}

.pricing-content .price-block .plan-price sup {
	font-family: "roboto-black", sans-serif;
	font-size: 2.4rem;
	top: -3rem;
	margin-right: 3px;
}

.pricing-content .price-block .price-month {
	margin-bottom: 1.2rem;
	font-family: "roboto-regular", sans-serif;
	font-size: 1.8rem;
	color: #3f4452;
}

.pricing-content .price-block .features {
	list-style: none;
	font-family: "roboto-regular", sans-serif;
	font-size: 1.6rem;
	color: rgba(0, 0, 0, 0.5);
	margin: 0 0 4.2rem 0;
}

.pricing-content .price-block .features li {
	padding: .6rem 0;
	border-bottom: 1px solid rgba(63, 80, 96, 0.15);
}

.pricing-content .price-block .features li strong {
	color: #001835;
	font-family: "roboto-black", serif;
	color: #001835;
	margin-right: 5px;
}

.pricing-content .price-block .features li:last-child {
	border: none;
}

.pricing-content .price-block .button {
	background: #002f68;
	color: #FFFFFF;
	padding: 0 5rem;
	margin-left: auto;
	margin-right: auto;
}

.pricing-content .price-block .button:hover,
.pricing-content .price-block .button:focus {
	background: #002a5e;
	color: #FFFFFF;
}

.pricing-content .primary {
	background: #002f68;
	color: #FFFFFF;
}

.pricing-content .primary::before {
	content: attr(data-info);
	display: block;
	min-height: 48px;
	line-height: 48px;
	width: 60%;
	text-align: center;
	color: #FFFFFF;
	background: #ed254d;
	font-family: "roboto-black", sans-serif;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	position: absolute;
	top: 0px;
	left: 50%;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%);
}

.pricing-content .primary .plan-title {
	color: #FFFFFF;
}

.pricing-content .primary .plan-title::after {
	background-color: rgba(255, 255, 255, 0.3);
}

.pricing-content .primary .plan-price {
	color: #FFFFFF;
}

.pricing-content .primary .price-month {
	color: rgba(255, 255, 255, 0.5);
}

.pricing-content .primary .button {
	background: #FFFFFF;
	color: #001835;
}

.pricing-content .primary .button:hover,
.pricing-content .primary .button:focus {
	background: #002149;
}

.pricing-content .primary .features {
	color: rgba(255, 255, 255, 0.6);
}

.pricing-content .primary .features li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.pricing-content .primary .features li strong {
	color: #FFFFFF;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * pricing 
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1024px) {
	.pricing-content {
		max-width: 650px;
	}

	.pricing-content .bgrid {
		padding: 0;
		width: 50%;
		clear: none;
	}

	.pricing-content .bgrid:nth-child(2n+1) {
		clear: both;
	}

	.pricing-content .bgrid:last-child {
		clear: both;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (max-width:600px) {
	.pricing-content {
		max-width: 400px;
	}

	.pricing-content .bgrid {
		width: 100% !important;
		float: none !important;
		clear: both !important;
		margin-left: 0;
		margin-right: 0;
	}

}


/* ===================================================================
 * 16. testimonials - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#testimonials {
	padding: 12rem 0 10.2rem;
	background: #FFFFFF;
	text-align: center;
}

#testimonials h2 {
	margin-bottom: 3.6rem;
	padding-bottom: 3.6rem;
	position: relative;
}

#testimonials h2::after {
	display: block;
	background-color: rgba(0, 24, 53, 0.4);
	width: 120px;
	height: 3px;
	content: '\0020';
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -60px;
}

#testimonials .slides li p {
	font-family: "domine-regular", serif;
	font-size: 3rem;
	line-height: 1.6;
}

#testimonials .slides li .author-info {
	font-size: 1.6rem;
	font-family: "roboto-black", sans-serif;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: .2rem;
}

#testimonials .flexslider-controls {
	margin-top: 3rem;
}

#testimonials .flexslider-controls .flex-control-nav {
	list-style: none;
	margin: 0;
	z-index: 700;
	position: relative;
}

#testimonials .flexslider-controls .flex-control-nav li {
	cursor: pointer;
	display: inline-block;
	margin: 0 5px;
	padding-left: 0;
}

#testimonials .flexslider-controls .flex-control-nav li img {
	cursor: pointer;
	width: 60px;
	opacity: .3;
	border-radius: 50%;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#testimonials .flexslider-controls .flex-control-nav li.flex-active img {
	opacity: 1;
}

#testimonials .flexslider-controls .flex-control-nav li:hover img {
	opacity: 1;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * testimonials 
 * ------------------------------------------------------------------- */
@media only screen and (max-width:768px) {
	#testimonials .slides li p {
		font-size: 2.8rem;
		line-height: 1.68;
	}

}

@media only screen and (max-width:600px) {
	#testimonials h2 {
		font-size: 2.8rem;
		line-height: 1.393;
	}

	#testimonials .slides li p {
		font-size: 2.5rem;
		line-height: 1.615;
	}

}

@media only screen and (max-width:400px) {
	#testimonials .slides li p {
		font-size: 2.2rem;
		line-height: 1.636;
	}

}


/* ===================================================================
 * 17. download - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#download {
	position: relative;
	background-image: url(../images/download-bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	text-align: center;
	padding: 13.2rem 0 10.2rem;
}

#download .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #001835;
	opacity: .85;
}

#download .download-content {
	position: relative;
	max-width: 780px;
}

#download h2 {
	font-family: "domine-bold", serif;
	font-size: 4.8rem;
	line-height: 1.25;
	margin-bottom: 1.8rem;
	color: white;
}

#download .lead {
	color: rgba(255, 255, 255, 0.6);
}

#download .button {
	background: #FFFFFF;
	color: #001835;
	margin: .6rem 0 1.5rem 0;
}

#download .button:hover,
#download .button:focus {
	background: #f9da4f;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * download 
 * ------------------------------------------------------------------- */
@media only screen and (max-width:768px) {
	#download h2 {
		font-size: 4rem;
		line-height: 1.2;
	}

}

@media only screen and (max-width:600px) {
	#download h2 {
		font-size: 3.3rem;
		line-height: 1.273;
	}

	#download .button {
		width: 100%;
	}

}

@media only screen and (max-width:400px) {
	#download h2 {
		font-size: 3rem;
		line-height: 1.2;
	}

}


/* ===================================================================
 * 18. subscribe - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#subscribe {
	background: #00132b;
	padding: 10.2rem 0 6rem;
	text-align: center;
	color: #FFFFFF;
}

#subscribe .subscribe-content {
	max-width: 780px;
}

#subscribe #mc-form {
	margin-top: 4.2rem;
	margin-bottom: 0;
	text-align: center;
}

#subscribe #mc-form input[type="email"] {
	width: 100%;
	text-align: left;
	color: rgba(255, 255, 255, 0.7);
	background: rgba(0, 0, 0, 0.3);
}

#subscribe #mc-form input[type="email"]:focus {
	background: rgba(0, 0, 0, 0.5);
	color: white;
}

#subscribe #mc-form .button {
	margin: 0;
	width: 100%;
	background: #FFFFFF;
}

#subscribe #mc-form .button:hover,
#subscribe #mc-form .button:focus {
	background: #f9da4f;
}

#subscribe #mc-form label {
	color: #FFFFFF;
}

#subscribe .left {
	padding-right: 0;
}

#subscribe .right {
	padding-left: 0;
}

#subscribe h2 {
	color: white;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * subscribe 
 * ------------------------------------------------------------------- */
@media only screen and (max-width:768px) {
	#subscribe .subscribe-content {
		max-width: 600px;
	}

	#subscribe .left {
		padding-right: 15px;
	}

	#subscribe .right {
		padding-left: 15px;
	}

	#subscribe #mc-form input[type="email"] {
		text-align: center;
	}

	#subscribe #mc-form label {
		margin-top: 3rem;
	}

}

@media only screen and (max-width:600px) {
	#subscribe h2 {
		font-size: 2.8rem;
		line-height: 1.393;
	}

	#subscribe .left {
		padding-right: 10px;
	}

	#subscribe .right {
		padding-left: 10px;
	}

}

@media only screen and (max-width:400px) {
	#subscribe .left {
		padding-right: 0;
	}

	#subscribe .right {
		padding-left: 0;
	}

}

/* ===================================================================
 * 19. footer - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
footer {
	text-align: center;
	padding-bottom: 3rem;
	position: relative;
}

footer a,
footer a:visited {
	color: #FFFFFF;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

footer a:hover,
footer a:focus,
footer a:active {
	color: #f9da4f;
	outline: 0;
}

.footer-social-wrap {
	background: #111;
}

.footer-social-list {
	list-style: none;
	display: block;
	margin: 0;
}

.footer-social-list li {
	display: inline-block;
	padding-left: 0;
}

.footer-social-list li a {
	font-size: 4.2rem;
	line-height: 4.2rem;
	color: #FFFFFF;
	display: block;
	padding: 4.2rem 5rem 4.8rem;
	border-right: 1px solid rgba(255, 255, 255, 0.02);
}

.footer-social-list li a:hover,
.footer-social-list li a:focus,
.footer-social-list li a:active {
	color: #f9da4f;
}

.footer-social-list li:first-child a {
	border-left: 1px solid rgba(255, 255, 255, 0.02);
}

.footer-info {
	padding-top: 6.6rem;
	padding-bottom: 6rem;
}

.footer-info a,
.footer-info a:visited {
	color: #292c35;
}

.footer-info a:hover,
.footer-info a:focus,
.footer-info a:active {
	color: #FFFFFF;
}

.footer-info h4 {
	color: #FFFFFF;
}

.footer-info h4 i {
	margin-right: 10px;
	font-size: 1.2em;
	position: relative;
	top: 3px;
}

.footer-info .footer-link-list {
	margin: 0 0 3rem 0;
	padding: 0;
	list-style: none;
}

.footer-info .footer-link-list li {
	padding: 0;
}

.copyright span {
	display: inline-block;
}

.copyright span::after {
	content: "|";
	display: inline-block;
	padding: 0 1rem 0 1.2rem;
	color: rgba(255, 255, 255, 0.1);
}

.copyright span:last-child::after {
	display: none;
}

/* ------------------------------------------------------------------- 
 * go to top - (_layout.scss)
 * ------------------------------------------------------------------- */
#go-top {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 800;
	display: none;
}

#go-top a {
	text-decoration: none;
	border: none;
	display: block;
	width: 6rem;
	height: 6.6rem;
	line-height: 6.6rem;
	text-align: center;
	background: #000000;
	color: #FFFFFF;
}

#go-top a i {
	font-size: 1.6rem;
	line-height: inherit;
}

#go-top a:hover,
#go-top a:focus {
	background: #ce1137;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * footer
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1024px) {
	.footer-social-list li a {
		font-size: 3.6rem;
		line-height: 3.6rem;
		padding: 3.9rem 3rem 4.2rem;
	}

}

@media only screen and (max-width:768px) {
	.footer-social-list li a {
		font-size: 3.3rem;
		line-height: 3.3rem;
		padding: 3.6rem 2rem 3.9rem;
		border: none !important;
	}

}

@media only screen and (max-width:600px) {
	.footer-social-list li a {
		font-size: 3rem;
		line-height: 3rem;
		padding: 3.3rem 1.5rem 3.6rem;
		border: none;
	}

	.copyright span {
		display: block;
	}

	.copyright span::after {
		display: none;
	}

}

@media only screen and (max-width:500px) {
	.footer-social-list li a {
		font-size: 2.8rem;
		line-height: 2.8rem;
		padding: 3rem 1rem 3.3rem;
		border: none;
	}

}

@media only screen and (max-width:400px) {
	.footer-social-list li a {
		font-size: 2.5rem;
		line-height: 2.5rem;
		padding: 2.7rem .8rem 3rem;
		border: none;
	}

}