/*GLOBAL*/
        body { margin:0; padding:0; }
        #map {position:relative;width:100vw;height:100vh;}
        #map_sidebar {position:relative;width:75vw;height:100vh;}
        .fa-map-marker::before {
            font-size: 18px;
            padding: 8px;
            top: 3px;
            position: relative;
        }
        .pop_banner_image{width:280px;}
        .paramerter_icon{width:25px;height: 25px;margin:3px;}

        .text-bold{font-weight: bolder;}
        .light-text{color:#FFF;}
        .dark-text{color:#000;}
        .dark-text3{color:#333;}
        .text-right{text-align:right;}
        .float-none {float:none;}

        #main-wrap{padding-top:0px;}
        .calculator #main-wrap{padding-top:100px;}
        .hidden{display: none;}

        /*PADDINGs*/
        .ptb60{padding-top: 60px;padding-bottom: 60px;}
        .pb60{padding-bottom: 60px;}
        .pt60{padding-top: 60px;}
        .p15{padding:15px;}
        .ptb20{padding:20px 0px;}
        .ptb15{padding-top:15px;padding-bottom:15px;}
        .no-padding{padding:0px;}
        /*Margin*/
        .mb15{margin-bottom:15px;}
        .mtb15{margin-top:15px;margin-bottom:15px;}
        .mtb20{margin-top:20px;margin-bottom:20px;}

        .fullheight{
            min-height:100vh !important;
        }
        .fullwidth{
            min-width:100vh !important;
        }
        .img-align-center{margin:0px auto;}
        .roundborder{
            border-radius:6px;
        }


/*Backgrounds*/

.coverbg{
    background-size:cover !important;
    background-repeat:no-repeat !important;
}
.bg-position-center{background-position: center center !important;}

.pale-bg{
    background:#f5f6f6;
}

.bg_mussel_1{background:#f5f6f6 url('../images/mussels1.jpg') no-repeat;}
.bg_mussel_2{background:#f5f6f6 url('../images/mussels2.jpg') no-repeat;}

/*Page Headers*/
.full-page-header{margin-bottom: 25px;}
.page-header h1{
    font-family: 'maxwell';
    font-size: 56px;
}
#headling_text_container{
    background: rgba(0,0,0,0.6);padding-top:15px;padding-bottom:15px;
}
/*FONTS*/
  @font-face {
  font-family: 'maxwell';
  src: url('../fonts/maxwell.eot');
  src: url('../fonts/maxwell.woff2') format('woff2'),
       url('../fonts/maxwell.eot?#iefix') format('embedded-opentype'),
       url('../fonts/maxwell.woff') format('woff'),
       url('../fonts/maxwell.ttf') format('truetype'),
       url('../fonts/maxwell.svg#maxwell') format('svg');
  font-weight: normal;
  font-style: normal;
}

.maxwell{
    font-family: 'maxwell';
}

/*HERO VIDEO*/
            .homepage-hero-module {
                border-right: none;
                border-left: none;
                position: relative;
            }
            .no-video .video-container video,
            .touch .video-container video {
                display: none;
            }
            .no-video .video-container .poster,
            .touch .video-container .poster {
                display: block !important;
            }
            .video-container {
                position: relative;
                bottom: 0%;
                left: 0%;
                height: 100%;
                width: 100%;
                overflow: hidden;
                background: #000;
            }
            .video-container .poster img {
                width: 100%;
                bottom: 0;
                position: absolute;
            }
            .video-container .filter {
                z-index: 100;
                position: absolute;
                background: rgba(0, 0, 0, 0.4);
                width: 100%;
            }
            .video-container video {
                position: absolute;
                z-index: 0;
                bottom: 0;
            }
            .video-container video.fillWidth {
                width: 100%;
            }
            .video-container .title-container {
                z-index: 1000;
                position: absolute;
                top: 10%;
                width: 100%;
                text-align: center;
                color: #fff;
            }
            .video-container .title-container .text-logo{
                font-family: maxwell;
                font-size: 120px;
            }
            .video-container .description .inner {
                font-size: 1em;
                width: 45%;
                margin: 0 auto;
            }
            .video-container .link {
                position: absolute;
                bottom: 3em;
                width: 100%;
                text-align: center;
                z-index: 1001;
                font-size: 2em;
                color: #fff;
            }
            .video-container .link a {
                color: #fff;
            }
/*END HERO VIDEO CSS*/

.ekko-lightbox-nav-overlay a{color:#000;font-size:64px}

.affiliate_image{width:100px;height:100px;display: inline-block;margin:10px;}

#map_modal{height:250px;width:100%;}


#main_heatmap{width:100vw;}
#map.heatmap{width:100vw;}
#heatmap_calculator_dashboard{width:25vw;}

#suitable_sites_filter_checkbox_container{z-index:99999999;position:fixed;top:70px;right:50px;width:200px;padding:10px;background:rgba(255,255,255,0.9);border-radius:5px}
#suitable_sites_filter_checkbox_container input{margin-right:3px;}
#suitable_sites_filter_checkbox_container img{width:15px;display:inline;margin-top:-5px}

/*sidebar*/
.sidebar {
    background-color:rgba(240,202,77,1);
    width: 250px;position: absolute;top: 0;left: 0;bottom: 0;z-index:9999999999;-moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar h1 {color: #333;}
.portfolio {
    background-color: red;
    position: absolute;
    top: 0;
    left: 150px;
    right: 0;
    bottom: 0;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}
.main-wrap input#slide-sidebar {display: none;}
.main-wrap input#slide-sidebar:checked ~ .map { left: 0;}
.main-wrap input#slide-sidebar:checked ~ label {    left: 0;}
.main-wrap input#slide-sidebar:checked ~ .sidebar { display: none;}
.main-wrap #slide_toggle {
    z-index:9999999999;padding:8.5px 10px;
    position: absolute;top: 0;
    left: 250px;font-size:30px;background:rgba(240,202,77,1);
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
}


/**Heatmap **/

.frmSearch{padding:25px 15px;}
#suggesstion-box{margin-top:10px;list-style: none;}
#suggesstion-box li{margin-top:8px;cursor: pointer;}

.leaflet-marker-pane,.leaflet-popup-pane{z-index:999999 !important;}
/* disabled for leaflet map
.data-content-props{
  background:#FFF;
  padding:10px;
  border-radius:3px;
  width:200px;
  /*opacity:0.7;
   position:fixed;left:40vw;top:100px 
}
.data-content-props{position:absolute !important;top:70vh !important;right:44vw;}
*/

/*Header*/
/*MENU
        .home header{
            position:fixed;
            top:0px;
            width:100%;
            height:auto;
            background-color:#000;
            color: #FFFFFF;
            z-index:9999;
            padding: 10px;
            display: none;
        }
MENU*/
#main-header{padding:5px;background:rgba(0,0,0,0.7);width:100vw;z-index:9999999999;position:fixed;}
#main-header .logo_container {
    position: absolute;
    width: 100%;
    height: 100%;
}
#main-header .logo_container img{width:50px;}
#main-header #et-top-navigation{float:right;padding-top:10px;}
#top-menu li {
    display: inline-block;
    padding-right: 22px;
    font-size: 14px;
}
#top-menu li a:hover{background:none;}
#top-menu a{color:#eec94d !important;font-weight:bold;}
#et_mobile_nav_menu{display:none;}
.nav li ul {
    visibility: hidden;
    z-index: 9999999999;
    width: 240px;
    border-top: 3px solid #eec94d;
    border-top-color: #eec94d;
    opacity:0;
    background: rgba(0,0,0,0.7);
        background-color: rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav li#menu-item-425:hover ul{visibility: visible;opacity:1;}
.nav li ul:hover{visibility: visible;opacity:1;}
.nav li ul {position: absolute;padding: 20px 0;}
#top-menu li li {margin: 0;padding: 0px 30px;word-wrap: break-word; list-style-type: none;}
.nav li li {display: inline-block;position: relative;line-height: 2em;}

/*Leaflet controller*/
.leaflet-top.leaflet-right{margin-top:60px;}


/*GALLERY

.gallery .modal-dialog{margin:100px 25vw;}

.gallery    .thumbnail {margin-bottom:6px;}

.gallery .carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}
*/

/*Calculator*/
@import url('https://fonts.googleapis.com/css?family=Domine:400,700');
.calculator h1{font-family: 'Domine', serif;font-weight: bold;font-size: 46px;}
.calculator a.list-group-item {
    height:auto;
    min-height:230px;
}
.calculator .list-group-item img{max-width:100px}
.calculator a.list-group-item.active small {
    color:#fff;
}

.calculator #instructions .modal-dialog,.calculator #optimum .modal-dialog{
  margin-top:100px;
}
.calculator h3{font-family: 'Domine', serif;font-weight: bold;}
.calculator #instructions h3{margin:0px 0px 5px 0px;}
.calculator #instructions ul{margin:0px;padding:0px 0px 0px 15px;}
.calculator #main-wrap{
  background: url(http://musselphilippines.com/wp-content/uploads/2017/03/ssam_photo1.jpg) fixed;
  background-position: center center;
  background-size: 100%;
}
.calculator .list-group-item h2{margin:10px 0px;}
.calculator .list-group-item h4{font-weight: bolder;}
.calculator .result_success{color:#5cb85c;font-size:38px;}
.calculator .result_error{color:#c9302c;font-size:38px;}